<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="http://adminlte-3.2.0.test/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="http://adminlte-3.2.0.test/plugins/fontawesome-free/css/all.min.css">
     <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
     <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <title>E-Recruitment - Shabat Printing</title>
</head>
<style>
    *{
 font-family: 'Poppins', sans-serif;    
    }

    nav{
        font-weight: 1000 !important;
        
    }
    nav a:hover{
        color: #00A2E9 !important;
    }

    text-blue {
        color: #144C99 !important;
    }
    bg-blue {
        color: #144C99 !important;
    }
        #scrollToTopBtn {
      position: fixed;
      bottom: 20px;
      right: 20px;
      display: none;  /* Tombol disembunyikan pada awal */
      z-index: 100;
    }
</style>
<body>

     <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
        <div class="container d-flex justify-content-between align-items-center">
            <!-- Logo PELNI -->
            <a class="navbar-brand" href="#">
                <img src="Logo_panjang.png" alt="" class="img-fluid" style="width: 8rem;">
            </a>
            
            <!-- Register and Login Buttons (Always Visible) -->
            <div class="d-lg-none ml-auto mr-2">
                <a href="#" class="mr-1">
                    
                    <button class="btn btn-outline-primary"><ion-icon name="create-outline"></ion-icon><span class="d-none d-lg-block">Daftar Akun</span></button>
                </a>
                <a href="#">
                    
                    <button class="btn btn-primary"><ion-icon name="log-in"></ion-icon><p class="d-none d-lg-block">Masuk</p></button>
                </a>
            </div>

            <!-- Toggle Button for Small Screens -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar Links -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <!-- Menu items -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#jobs">Lowongan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">Tentang Kami</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Kontak</a>
                    </li>
                </ul>
            </div>

            <!-- Register and Login Buttons (Desktop View) -->
            <div class="d-none d-lg-flex ml-auto">
                <a href="#" class="mr-2">
                    <button class="btn btn-outline-primary d-flex"><ion-icon name="create-outline" class="align-self-center mr-1"></ion-icon><span>Daftar Akun</span></button>
                </a>
                <a href="#">
                    
                    <button class="btn btn-primary d-flex"><ion-icon name="log-in" class="align-self-center mr-1"></ion-icon><span>Masuk</span></button>
                </a>
            </div>
        </div>
    </nav>
<div class="container-fluid m-0 p-0">
    <section id="hero" class="container-fluid bg-success">
        <div class="jumbotron container bg-success">
            <div class="row">
                <div class="col-md-6">
        <h1 class="display-5">Bergabunglah bersama kami !</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto reiciendis rem, sint autem adipisci esse? Impedit quidem saepe eum inventore.</p>
        <a class="btn btn-primary btn-md" href="#" role="button">Learn more</a>
                </div>
                <div class="d-none col-md-6 d-flex justify-content-center">
                <img src="jumbotron.png" alt="" class="img-fluid" style="height: 20rem;">
                </div>
            </div>

        </div>
    </section>
    <section id="jobs" class="mx-auto container mt-5 pt-5">
        <h2 class="display-5 text-center"> Available Jobs</h2>
        <div class="text-center">
            <div class="btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active m-2" style="min-width: 5rem;">
                    <input type="radio" name="options" id="option1" checked> SPV <span class="badge badge-light">9</span>
                </label>
                <label class="btn btn-secondary m-2" style="min-width: 5rem;">
                    <input type="radio" name="options" id="option2" > Operator <span class="badge badge-light">9</span>
                </label>
                <label class="btn btn-secondary m-2" style="min-width: 5rem;">
                    <input type="radio" name="options" id="option3"> Back Office <span class="badge badge-light">9</span>
                </label>
                <label class="btn btn-secondary m-2" style="min-width: 5rem;">
                    <input type="radio" name="options" id="option3"> Marketing <span class="badge badge-light">9</span>
                </label>
                </div>
        </div>
        <div class="row gap-2 mt-4">
            <div class="col-md-4 col-lg-3 col-sm-6 p-4 p-lg-4 p-md-3 p-sm-2">
                <div class="card" >
                <div class="card-body shadow-lg">
                    <h6 class="card-title font-weight-bold mb-1 text-blue">SPV Marketing</h6>
                    <div class="card-text align-items-center d-flex">
                        <ion-icon name="bookmark" class="mr-1"></ion-icon>
                        <small>Shabat Printing</small>
                    </div>
                    <div class="card-text align-items-center d-flex mb-1">
                        <ion-icon name="pin" class="mr-1"></ion-icon>
                        <small class="text-muted">Laweyan,Surakarta</small>
                    </div>
                    <ul class="card-text px-3">
                        <li><small>Berpenampilan menarik</small></li>
                        <li><small>Berpenampilan menarik</small></li>
                        <li><small>Berpenampilan menarik</small></li>
                    </ul>
                    <p class="text-muted text-center m-0">
                    <small >Batas Waktu : 31 Februari 2025</small>
                    </p>
                </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 col-sm-6 p-4 p-lg-4 p-md-3 p-sm-2">
                <div class="card" >
                <div class="card-body shadow-lg">
                    <h6 class="card-title font-weight-bold mb-1 text-blue">SPV Marketing</h6>
                    <div class="card-text align-items-center d-flex">
                        <ion-icon name="bookmark" class="mr-1"></ion-icon>
                        <small>Shabat Printing</small>
                    </div>
                    <div class="card-text align-items-center d-flex mb-1">
                        <ion-icon name="pin" class="mr-1"></ion-icon>
                        <small class="text-muted">Laweyan,Surakarta</small>
                    </div>
                    <ul class="card-text px-3">
                        <li><small>Berpenampilan menarik</small></li>
                        <li><small>Berpenampilan menarik</small></li>
                        <li><small>Berpenampilan menarik</small></li>
                    </ul>
                    <p class="text-muted text-center m-0">
                    <small >Batas Waktu : 31 Februari 2025</small>
                    </p>
                </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 col-sm-6 p-4 p-lg-4 p-md-3 p-sm-2">
                <div class="card" >
                <div class="card-body shadow-lg">
                    <h6 class="card-title font-weight-bold mb-1 text-blue">SPV Marketing</h6>
                    <div class="card-text align-items-center d-flex">
                        <ion-icon name="bookmark" class="mr-1"></ion-icon>
                        <small>Shabat Printing</small>
                    </div>
                    <div class="card-text align-items-center d-flex mb-1">
                        <ion-icon name="pin" class="mr-1"></ion-icon>
                        <small class="text-muted">Laweyan,Surakarta</small>
                    </div>
                    <ul class="card-text px-3">
                        <li><small>Berpenampilan menarik</small></li>
                        <li><small>Berpenampilan menarik</small></li>
                        <li><small>Berpenampilan menarik</small></li>
                    </ul>
                    <p class="text-muted text-center m-0">
                    <small >Batas Waktu : 31 Februari 2025</small>
                    </p>
                </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 col-sm-6 p-4 p-lg-4 p-md-3 p-sm-2">
                <div class="card" >
                <div class="card-body shadow-lg">
                    <h6 class="card-title font-weight-bold mb-1 text-blue">SPV Marketing</h6>
                    <div class="card-text align-items-center d-flex">
                        <ion-icon name="bookmark" class="mr-1"></ion-icon>
                        <small>Shabat Printing</small>
                    </div>
                    <div class="card-text align-items-center d-flex mb-1">
                        <ion-icon name="pin" class="mr-1"></ion-icon>
                        <small class="text-muted">Laweyan,Surakarta</small>
                    </div>
                    <ul class="card-text px-3">
                        <li><small>Berpenampilan menarik</small></li>
                        <li><small>Berpenampilan menarik</small></li>
                        <li><small>Berpenampilan menarik</small></li>
                    </ul>
                    <p class="text-muted text-center m-0">
                    <small >Batas Waktu : 31 Februari 2025</small>
                    </p>
                </div>
                </div>
            </div>
           
        </div>
    </section>
    <section id="about" class="container-fluid">
        <div class="jumbotron container bg-light">
            <div class="row">
                <div class="d-none col-md-6 d-flex justify-content-center">
                    <img src="jumbotron.png" alt="" class="img-fluid" style="height: 10rem;">
                </div>
                <div class="col-md-6">
                    <h1 class="display-5">Tentang Kami</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto reiciendis rem, sint autem adipisci esse? Impedit quidem saepe eum inventore.</p>
                    <button class="btn btn-primary btn-md">Selengkapnya</button>
                </div>
            </div>

    </section>
    <section id="contact" class="mx-auto mt-5 container-fluid">
        <div class="container">
        <h2 class="text-center display-5"> Hubungi Kami </h2>
        <div class="row mt-3">
            <div class="col-lg-6 mt-3 p-4">
                <div class="card rounded shadow-md bg-secondary">
                    <div class="card-body p-5">
                        <ion-icon name="location" size="large"></ion-icon>
                        <h4 class="mt-1">Alamat</h4>
                        <p class="card-text">Jl. Perintis Kemerdekaan No. 20 C-D, Kel. Sondakan, Kec. Laweyan, Kota Surakarta, Jawa Tengah</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-3 p-4">
                <div class="card rounded shadow-md bg-secondary">
                    <div class="card-body p-5">
                        <ion-icon name="mail" size="large"></ion-icon>
                        <h4 class="mt-1">E-mail</h4>
                        <p class="card-text">hrd.shabatwarna@gmail.com
                            <br>
                            <br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-3 p-4">
                <div class="card rounded shadow-md bg-secondary">
                    <div class="card-body p-5">
                        <ion-icon name="call" size="large"></ion-icon>
                        <h4 class="mt-1">Telepon</h4>
                        <h6><i>(Text / Whatsapp Only)</i></h6>
                        <p class="card-text">+62813 8883 9991</p>
            
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-3 p-4">
                <div class="card rounded shadow-md bg-secondary">
                    <div class="card-body p-5">
                        <ion-icon name="time" size="large"></ion-icon>
                        <h4 class="mt-1">Jam Operasional</h4>
                        <div class="row">
                            <div class="col-6">
                        <p class="card-text p-0 m-0">Senin s/d Jum'at</p>
                        <p class="card-text p-0 m-0">08.00 - 16.00</p>
                            </div>
                            <div class="col-6">
                        <p class="card-text p-0 m-0">Sabtu </p>
                        <p class="card-text p-0 m-0">10.00 - 15.30</p>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

    </section>
    <footer id="footer" class="bg-dark pt-5">
        <div class="container">
        <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="Logo_white.png" alt="" style="width:10rem;">
        <small class="d-block mb-3 text-muted">Designed and developed by "HRGA Division" Shabat Printing</small>
      </div>
      <div class="col-6 col-md">
        <h5>Company</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">About Us</a></li>
          <li><a class="text-muted" href="#">Website</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Follow Us</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">LinkedIn</a></li>
          <li><a class="text-muted" href="#">Instagram</a></li>
          <li><a class="text-muted" href="#">Tiktok</a></li>
          <li><a class="text-muted" href="#">Facebook</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Others</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Linktree</a></li>
          <li><a class="text-muted" href="#">Product</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-6 col-12 text-lg-left text-center">
        <p class="text-muted">© 2025 Shabat Printing. All rights reserved.</p>
      </div>
        <div class="col-lg-6 col-12 text-lg-right text-center">
            <a class="text-muted" href="#"><ion-icon name="logo-linkedin" size="large" class="mx-1"></ion-icon></a>
            <a class="text-muted" href="#"><ion-icon name="logo-instagram" size="large" class="mx-1"></ion-icon></a>
            <a class="text-muted" href="#"><ion-icon name="logo-tiktok" size="large" class="mx-1"></ion-icon></a>
            <a class="text-muted" href="#"><ion-icon name="location" size="large" class="mx-1"></ion-icon></a>
                </div>
    
    </div>
        </div>
    </footer>
    <button id="scrollToTopBtn" class="btn rounded-circle btn-primary" >
    <ion-icon name="arrow-up-circle" size="large" class="d-flex" style="width: 1.3rem;"></ion-icon>
  </button>
</div>

</body>
<script src="http://adminlte-3.2.0.test/plugins/jquery/jquery.min.js"></script>
<script src="http://adminlte-3.2.0.test/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="http://adminlte-3.2.0.test/dist/js/adminlte.min.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

<script>
    // Menampilkan tombol scroll to top ketika scroll ke bawah
    $(window).scroll(function() {
      if ($(this).scrollTop() > 100) {  // Tampilkan tombol jika scroll lebih dari 100px
        $('#scrollToTopBtn').fadeIn();
      } else {
        $('#scrollToTopBtn').fadeOut();
      }
    });

    // Fungsi untuk scroll ke atas ketika tombol diklik
    $('#scrollToTopBtn').click(function() {
      $('html, body').animate({ scrollTop: 0 }, 'slow');  // Scroll perlahan ke atas
      return false;
    });
  </script>
</html>