<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="http://adminlte-3.2.0.test/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="http://adminlte-3.2.0.test/plugins/fontawesome-free/css/all.min.css">
     <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <title>E-Recruitment - Shabat Printing</title>
</head>
<body>

     <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container d-flex justify-content-between align-items-center">
            <!-- Logo PELNI -->
            <a class="navbar-brand" href="#">
                <img src="Logo_panjang.png" alt="" class="img-fluid" style="width: 8rem;">
            </a>
            
            <!-- Register and Login Buttons (Always Visible) -->
            <div class="d-lg-none ml-auto mr-2">
                <a href="#" class="mr-1">
                    
                    <button class="btn btn-outline-primary"><ion-icon name="create-outline"></ion-icon><span class="d-none d-md-block">Daftar Akun</span></button>
                </a>
                <a href="#">
                    
                    <button class="btn btn-primary"><ion-icon name="log-in"></ion-icon><p class="d-none d-md-block">Masuk</p></button>
                </a>
            </div>

            <!-- Toggle Button for Small Screens -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar Links -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <!-- Menu items -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">Beranda</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Drop CV
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Option 1</a>
                            <a class="dropdown-item" href="#">Option 2</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Lowongan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Testimoni</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">FAQs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Artikel</a>
                    </li>
                </ul>
            </div>

            <!-- Register and Login Buttons (Desktop View) -->
            <div class="d-none d-lg-flex ml-auto">
                <a href="#" class="mr-2">
                    <button class="btn btn-outline-primary d-flex"><ion-icon name="create-outline" class="align-self-center mr-1"></ion-icon><span>Daftar Akun</span></button>
                </a>
                <a href="#">
                    
                    <button class="btn btn-primary d-flex"><ion-icon name="log-in" class="align-self-center mr-1"></ion-icon><span>Masuk</span></button>
                </a>
            </div>
        </div>
    </nav>

</body>
<script src="http://adminlte-3.2.0.test/plugins/jquery/jquery.min.js"></script>
<script src="http://adminlte-3.2.0.test/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="http://adminlte-3.2.0.test/dist/js/adminlte.min.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</html>